@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

nav,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Changa', sans-serif;
}

.d-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bot-404 {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-34%, -41%);
    z-index: 1;

}

.bot-404 img {
    height: 280px;
}

.acceso-denegado {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(0%, -21%);
    z-index: 1;

}

.acceso-denegado img {
    height: 280px;
}


/* NAVBAR DE ARRIBA DE TODO */
.first-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00903d;
    color: whitesmoke;
}

/* REDES SOCIALES DENTRO DEEL NAVBAR */
.navbar-social-icons {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 25px;
}

.navbar-social-icons li {
    margin-left: 20px;
}

.navbar-social-icons a {
    color: whitesmoke;
    margin-left: 25px;
}

/* USUARIO CONECTADO DENTRO DEL NAVBAR */

.first-navbar-user {
    display: flex;
    align-items: center;
    margin-right: 50px;
}


/* CONTENEDOR LOGO TORNADO Y CHPP  */

.banderin {
    margin-top: -14px;
    margin-left: -12px;
}

/* LOGO TORNADO */

.logo1 {
    height: 100px;
    background-color: #00903d;
    width: 100px;
}

.logo1 img {
    width: 80%;
    height: 65%;
    margin-left: 10px;
    margin-top: 15px;
}

/* LOGO CHPP */
.logo2 img {
    height: 40px;
}

/* FOOTER */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f9fa;
    text-align: center;
    padding-top: 20px;
}



#btn-volver-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}